<div class="container-fluid">
	<h1 class="text-center">Add a Course</h1>
	<form class="form-horizontal" method="POST" action="/courses/add">
		<div class="row g-3 align-items-center p-2">
			<label class="control-label col-sm-1" for="courseNumber">Course Number:</label>
			<div class="col-sm-7">
		    	<input type="text" class="form-control" id="courseNumber" name= "courseNumber" placeholder="e.g., 'CHEM-UA 225'">
			</div>
		</div>
		<div class="row g-3 align-items-center p-2">
			<label class="control-label col-sm-1" for="courseName">Course Name:</label>
			<div class="col-sm-7">
		    	<input type="text" class="form-control" id="courseName" name= "courseName" placeholder="e.g., 'Organic Chemistry I & Laboratory'">
		    </div>
		</div>
		<div class="row g-3 align-items-center p-2">
			<label class="control-label col-sm-1" for="credits">Credits:</label>
			<div class="col-sm-7">
		    	<input type="Number" class="form-control" id="credits" name= "credits" placeholder="e.g., 5">
		    </div>
		</div>
		<div class="row g-3 align-items-center p-2">
			<label class="control-label col-sm-1" for="scheduledTimes">Scheduled Times:</label>
			<div class="col-sm-7">
		    	<input type="text" class="form-control" id="scheduledTimes" name= "scheduledTimes" placeholder="e.g., 'Mon 0930-1045, Wed 0930-1045, Thu 1230-1345'">
		    </div>
		</div>
		<div class="row g-3 align-items-center p-2">
			<label class="control-label col-sm-1" for="professors">Professors:</label>
			<div class="col-sm-7">
		    	<input type="text" class="form-control" id="professors" name= "professors" placeholder="e.g., 'Angelo (4.9), John Henssler'">
		    </div>
		</div>
		<div class="row g-3 align-items-center p-2">
			<label class="control-label col-sm-1" for="color">Set Color:</label>
			<div class="col-auto">
		    	<input type="color" class="form-control form-control-color" id="color" name= "color" value="#000000" title="Choose your color">
		    </div>
		    <div class="col-auto">
		    	<span id="colorHelper" class="form-text">Leave default for random color</span>
		    </div>
		</div>
		<div class="row g-3 align-items-center p-2">
		    <button type="submit" class="btn btn-outline-dark btn-lg">Submit</button>
		</div>
	</form>
</div>